.pl{
	font-size: 25px;
	text-decoration: underline;
}

.pn{
	font-size: 20px;
	color: white;
}

.ph{
	font-size: 20px;
	color : green;
}

.pm{
	font-size: 20px;
	color: dodgerblue;
}

.pl{
	font-size: 20px;
	color: red;
}

.pa{
	font-size: 20px;
	font-weight: bold;
	color: white;
}

.pde{
	font-size: 15px;
	color: white;
}

img{
	width: 50%;
	height: 100%
}

.Stat{
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 75%;
	height: 30%;
}

.action{
	border: 1px solid white;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-around;
	background-color: rgba(30, 30, 50, 0.8);
	height: 40%;
	width: 10%;
}

.description{
	border: 1px solid white;
	display: flex;
	align-items: flex-start;
	background-color: rgba(30, 30, 50, 0.8);
	
	width: 30%;
}


.Level{
	border: 1px solid white;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	background-color: rgba(30, 30, 50, 0.8);
	height: 100%;
	width: 50%;
}

.Mana{
	border: 1px solid white;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	background-color: rgba(30, 30, 50, 0.8);
	height: 100%;
	width: 50%;
}

.health{
	border: 1px solid white;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	background-color: rgba(30, 30, 50, 0.8);
	height: 100%;
	width: 50%;
}

.name{
	border: 1px solid white;
	display: flex;
	justify-content: space-around;
	background-color: rgba(30, 30, 50, 0.8);
	height: 100%;
	width: 50%;
}

.titre{
	border: 1px solid darkblue;
	display: flex;
	justify-content: space-around;
	background-color: rgba(30, 30, 50, 0.8);
	height: 6%;
	width: 10%;
	color: white;
}

body {
	background-image: url(foret.JPG);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	color: white;
}

.chasse{
	background-repeat: no-repeat;
	display: flex;
	align-items: flex-end;
	height: 45%;
	width: 50%;
}

.megaaction{
	display: flex;
	flex-wrap: wrap;
}