.ph{
	font-size: 20px;
	color : rgb(2, 190, 2);
}

.pm{
	font-size: 20px;
	color: rgb(73, 164, 255);
}

.pa{
	font-size: 20px;
	font-weight: bold;
	color: rgb(255, 255, 255);
}

.pde{
	font-size: 15px;
	color: white;
}

.img{
	width: 50%;
	height: 100%
}

.Stat{
	position: fixed;
	bottom:0;
	left:150;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 75%;
	height: 30%;
}

.action{
	border: 1px solid rgb(255, 0, 0);
	position: fixed;
	bottom: 0;
	right:0;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-around;
	background-color: rgba(155, 0, 0, 0.8);
	height: 20%;
	width: 30%;
}

.info{
	border: 1px solid black;
	position: fixed;
	top: 0;
	right: 0;
	display: flex;
	align-items: flex-start;
	background-color: rgba(199, 0, 0, 0.8);
	height: 10%;
	width: 30%;
}

.Mana{
	border: 1px solid rgb(255, 0, 0);
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	background-color: rgba(109, 0, 0, 0.8);
	height: 50%;
	width: 50%;
}

.health{
	border: 1px solid rgb(255, 0, 0);
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	background-color: rgba(87, 0, 0, 0.8);
	height: 50%;
	width: 50%;
}

.name{
	border: 1px solid rgb(255, 0, 0);
	display: flex;
	justify-content: space-around;
	color: white;
	background-color: rgba(100, 0, 0, 0.8);
	height: 50%;
	width: 50%;
}

.apres{
	display: none;

}

.titre{
	border: 1px solid rgb(0, 24, 54);
	display: flex;
	justify-content: space-around;
	background-color: rgba(201, 0, 0, 0.8);
	height: 6%;
	width: 10%;
	color: white;
}

.hero{
	display: flex;
	justify-content: flex-end;
	position:absolute;
	top:25%;
	right: 10%;
	width:10%;
	height:20%;
}

.hero2{
	display: flex;
	justify-content: flex-end;
	position:absolute;
	top:50%;
	right: 20%;
	width:10%;
	height:20%;
}

.hero3{
	display: flex;
	justify-content: flex-end;
	position:absolute;
	top:30%;
	right: 20%;
	width:10%;
	height:20%;
}

.hero4{
	display: flex;
	justify-content: flex-end;
	position:absolute;
	top:60%;
	right: 10%;
	width:10%;
	height:20%;
}

.monstre{
	display:flex;
	justify-content: flex-start;
	position:fixed;
	top: 15%;
	left: 20%;
	width: 100;
}

#infomonstre{
	display: flex;
	position : absolute;
	left : 70px; 
	top : 0px; 
	color: #303030; 
	padding: 5px;
	width: 80px;
	height: 35px;
	margin: 10px;
	border: 3px solid rgb(110, 0, 0);
	background-color: rgb(255, 146, 146);
	visibility: hidden;
}
.monstre{
	position: relative;
}

.monstre:hover #infomonstre{
	visibility: visible;
}

.monstre2{
	display:flex;
	justify-content: flex-start;
	position:fixed;
	top: 25%;
	left: 30%;
	width: 100;
}

#infomonstre2{
	display: flex;
	position : absolute;
	left : 70px; 
	top : 0px; 
	color: #303030; 
	padding: 5px;
	width: 80px;
	height: 35px;
	margin: 10px;
	border: 3px solid rgb(110, 0, 0);
	background-color: rgb(255, 146, 146);
	visibility: hidden;
}
.monstre2{
	position: relative;
}

.monstre2:hover #infomonstre2{
	visibility: visible;
}

.monstre3{
	display:flex;
	justify-content: flex-start;
	position:fixed;
	top: 35%;
	left: 15%;
	width: 100;
}

#infomonstre3{
	display: flex;
	position : absolute;
	left : 70px; 
	top : 0px; 
	color: #303030; 
	padding: 5px;
	width: 80px;
	height: 35px;
	margin: 10px;
	border: 3px solid rgb(110, 0, 0);
	background-color: rgb(255, 146, 146);
	visibility: hidden;
}

.monstre3{
	position: relative;
}

.monstre3:hover #infomonstre3{
	visibility: visible;
}

body{
	background-image: url(background.png);
	background-repeat: no-repeat;
	background-size: cover;
}